/** Pins footer to the bottom **/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
/** End **/

.brand-logo {
    margin-left: 10px;
}

.text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.social-media i {
    padding-right: 15px;
    font-size: 20px;
}

.flashes h4 {
    line-height: 2;
}

.card {
    width: 300px;
    height: 400px;
}

.card-image {
    width: 300px;
    height: 200px;
}

.card-action {
    width: 300px;
    height: 54px;
}

.card-content {
    width: 300px;
    height: 132px;
}

.btn-flat {
    margin: 5px;
}
