/** Import fonts **/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/** End import **/

/** Pins footer to the bottom **/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
/** End footer pin **/

/** Styling **/
.btn-radius {
    border-radius: 15px;
}

.card-radius {
    border-radius: 10px;
}
/** End styling **/

/** Cards **/
.card {
    width: 300px;
    height: 400px;
}

.card .card-image img {
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

.card-action {
    width: 300px;
    height: 54px;
}

.card-content {
    width: 300px;
    height: 132px;
}

.card .card-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 38px;
}

.card .card-content p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
/** End cards **/

/** Base template **/
.nav-wrapper .brand-logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    margin: 0;
    padding-top: 30px;
}

.nav-wrapper ul {
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.nav .brand-logo a {
    padding-left: 0px;
}

.sidenav-trigger i {
    padding-top: 30px;
}

.nav-extended {
    min-height: 125px;
}

.base-header, h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
}

.base-header li a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.flash-message {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    margin: 2px 2px 2px 2px;
}

.social-media i {
    padding-right: 15px;
    font-size: 20px;
}

.text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.footer-header {
    font-family: 'Bebas Neue', sans-serif;
}

.footer-slogan {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 28px;
}

.footer-links a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-container {
    width: 85%;
}
/** End base **/

/** Home template **/
.bumper {
    padding-top: 10px;
}

.logo-container {
    position: relative;
    padding: 5px;
    background: rgb(38,166,154);
    background: radial-gradient(circle, rgba(38,166,154,1) 0%, rgba(0,77,64,1) 100%);
}

.logo-container img.home-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.intro-text, p {
    text-align: justify;
    font-size: 16px;
}

.home-login, a {
    align-items: center;
    margin-bottom: 16px;
}
/** End home **/

/** Profile template **/
.profile-header {
    font-family: 'Bebas Neue', sans-serif;
}

.profile-p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
/** End profile **/

/** All recipes template **/
.all-recipes-header {
    font-family: 'Bebas Neue', sans-serif;
}

.search-label {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.search-container {
    padding: 1px;
}

.search-icon {
    padding-right: 15px;
}

.search-box {
    margin-bottom: 0;
}

.search-box a {
    margin-bottom: 0;
}

/** End all recipes **/

/** Submit recipe template **/
.submit-header {
    font-family: 'Bebas Neue', sans-serif;
}

.submit-button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
}

.submit-padding {
    padding-right: 10px;
}
/** End submit recipes **/

/** My recipes template **/
.recipe-repo {
    font-family: 'Bebas Neue', sans-serif;
}
/** End my recipes **/

/** View recipes template **/
.view-container {
    padding: 0;
    position: relative;
    margin: 0;
}

.view-recipe-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

.view-container h3 {
    position: absolute;
    top: 50%;
    left: 5%;
    margin: 0;
    padding: 0;
    z-index: 1;
    font-family: 'Bebas Neue', sans-serif;
}

.card-radius .row {
    margin: 0;
}
/** End view recipes **/

/** Edit recipe template **/
.edit-header {
    font-family: 'Bebas Neue', sans-serif;
}
/** End edit recipe **/

/** Login template **/
.login-header {
    font-family: 'Bebas Neue', sans-serif;
}

.login-register {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
/** End login **/

/** Register template **/
.register-header {
    font-family: 'Bebas Neue', sans-serif;
}

.register-login {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
/** End register **/

/** 404 template **/
.fourohfour-page h3 {
    font-family: 'Bebas Neue', sans-serif;
}

.fourohfour-page h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.fourohfour-logo {
    width: 50%;
    height: 50%;
}

.fourohfour-btn {
    margin-top: 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
/** End 404 **/

li {
    padding-left: 10px;
    padding-bottom: 2px;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 992px) {
    .nav-wrapper .brand-logo {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 1200px) {


}