{% extends "base.html" %}
{% block content %}
    <!-- Page Header -->
    <div class="col s12 recipe-repo">
        <h3 class="center-align teal-text text-darken-4">
            All Recipes
        </h3>
        <!-- Search function -->
        <div class="row card-panel teal lighten-5">
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row valign-wrapper right-align">
                    <div class="input-field col s12 m8">
                        <i class="fa-solid fa-magnifying-glass prefix teal-text darken-4" title="Search"></i>
                        <input type="text" name="query" id="query" minlength="2" class="validate" required>
                        <label for="query">Search</label>
                    </div>
                    <div class="col s12 m4">
                        <button type="submit" class="btn-flat teal darken-4 text-shadow white-text btn-radius" title="Search">
                            <i class="fa-solid fa-magnifying-glass-arrow-right"></i>
                        </button>
                        <a href="{{ url_for('get_recipes') }}" class="red btn text-shadow btn-radius" title="Reset">
                            <i class="fa-solid fa-rotate-left"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <!-- Code to display each of the recipes as a card -->
        {% if recipes|length > 0 %}
        <div class="row">
            {% for recipe in recipes %}
            <div class="col s12 m6 l4 xl3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="{{ recipe.recipe_image }}">
                        <span class="card-title text-shadow"><strong>{{ recipe.recipe_name }}</strong></span>
                    </div>
                    <div class="card-content">
                        <p><strong>Created By:</strong> {{ recipe.recipe_submitted_by.capitalize() }}</p>
                        <p><strong>Category:</strong> {{ recipe.recipe_category }}</p>
                        <p><strong>Serves:</strong> {{ recipe.recipe_serves }}</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-teal red accent-4 btn btn-radius left" title="View"
                            href="{{ url_for('view_recipe', recipe_repository_id=recipe._id) }}">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        <a class="waves-effect waves-teal green darken-4 btn btn-radius right" title="Add to Favorites"
                            href="{{ url_for('add_to_favorites', recipe_repository_id=recipe._id) }}">
                            <i class="fa-solid fa-heart"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <h3 class="center-align red-text text-darken-4">
                No Recipes Found
            </h3>
        {% endif %}
    </div>

{% endblock %}