<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" 
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Pizza Stop</title>
</head>
<body>

    <!-- Main navigation -->

    <header>
        <!-- Main nav bar -->
        <nav class="nav-extended text-shadow teal darken-3">
            <div class="nav-wrapper">
                <div class="col logo-container">
                    <a href="{{ url_for('home') }}" class="brand-logo">
                        <img src="{{ url_for('static', filename='images/ps_logo_transparent.png') }}" alt="Pizza Stop! Craft Your Slice of Perfection" class="logo">
                    </a>
                </div>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">{{ session['user'].capitalize() }}'s Profile</a></li>
                        <li><a href="{{ url_for('get_recipes') }}">Recipes Library</a></li>
                        <li><a href="{{ url_for('submit_recipe') }}">Add Recipe</a></li>
                        <li><a href="{{ url_for('my_recipes') }}">My Recipes</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- Mobile nav bar -->
        <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align teal-text text-darken-3">Pizza Stop!</h4></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">{{ session['user'].capitalize() }}'s Profile</a></li>
                <li><a href="{{ url_for('get_recipes') }}">Recipes Library</a></li>
                <li><a href="{{ url_for('submit_recipe') }}">Add Recipe</a></li>
                <li><a href="{{ url_for('my_recipes') }}">My Recipes</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <!-- Area to display flash messages to the user -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="teal lighten-3 teal-text darken-4-text center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <!-- Main content area -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="page-footer text-shadow teal darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright teal darken-4">
            <div class="container social-media">
                © 2023 Pizza Stop!
                <a class="grey-text text-lighten-4 right" href="#!"><i class="fa-brands fa-facebook"></i> </a>
                <a class="grey-text text-lighten-4 right" href="#!"><i class="fa-brands fa-instagram"></i> </a>
                <a class="grey-text text-lighten-4 right" href="#!"><i class="fa-brands fa-linkedin"></i> </a>
            </div>
        </div>
    </footer>
    <!-- Javascript -->

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>