{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 m6 l6">
        <div class="card-panel teal lighten-3 logo-container center-align card-radius">
            <img src="{{ url_for('static', filename='images/ps_logo_transparent.png') }}" alt="Pizza Stop! Craft Your Slice of Perfection" class="home-logo">
        </div>
    </div>
    <div class="col s12 m6 l6 center-align card-radius">
        <div class="card-panel">
            <h3 class="center-align teal-text text-darken-4">
                Craft Your Slice of Perfection
            </h3>
            <br>
            <p>Welcome to Pizza Stop! Your ultimate destination for crafting mouthwatering pizzas just the way you like
                them. Whether you're a seasoned pizza connoisseur or just starting your culinary journey, Pizza Stop is
                here to ignite your creativity and elevate your pizza game.</p>
            <p>Dive into a world of possibilities as you explore our extensive library of recipes, spanning from
                traditional dough and sauce creations to innovative and exotic topping combinations. Unleash your inner
                chef and personalize your perfect pie, tailored to your unique taste buds.</p>
            <p>But that's not all - at Pizza Stop, we're more than just a recipe repository. Create your profile, curate
                your favorite recipes, and join a community passionate about the art of pizza making. Connect with
                fellow enthusiasts, share your culinary masterpieces, and discover new flavors and techniques along the
                way.</p>
            <p>From crispy thin crusts to deep-dish delights, vegetarian delights to carnivorous feasts, Pizza Stop is
                your go-to hub for everything pizza-related. So, what are you waiting for? Let's embark on a flavorful
                journey together, one slice at a time!</p>
        </div>
    </div>
</div>

{% endblock %}