{% extends "base.html" %}
{% block content %}

    <!-- Page Title -->
    <div class="col s12 recipe-repo">
        <h3 class="center-align teal-text text-darken-4">
            My Recipes
        </h3>

        <!-- Code to display each of the user in session generated recipes -->
        <div class="row">
            {% for recipe in recipes %}
                {% if session.user|lower == recipe.recipe_submitted_by|lower %}
                    <div class="col">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ recipe.recipe_image }}">
                                <span class="card-title text-shadow"><strong>{{ recipe.recipe_name }}</strong></span>
                            </div>
                            <div class="card-content">
                                <p><strong>Created By:</strong> {{ recipe.recipe_submitted_by }}</p>
                                <p><strong>Category:</strong> {{ recipe.recipe_category }}</p>
                                <p><strong>Serves:</strong> {{ recipe.recipe_serves }}</p>
                            </div>
                            <div class="card-action">
                                <a class="waves-effect waves-teal red accent-4 btn btn-radius" 
                                    href="{{ url_for('view_recipe', recipe_repository_id=recipe._id) }}">
                                    <i class="fa-solid fa-eye"></i> View
                                </a>
                                <a class="waves-effect waves-teal green darken-4 btn btn-radius" 
                                href="#">
                                <i class="fa-solid fa-square-plus"></i> Add
                            </a>
                            </div>
                        </div>
                    </div>
                {%  endif %}    
            {% endfor %}
        </div>
    </div>

{% endblock %}