{% extends "base.html" %}
{% block content %}

<!-- Page Title -->
<div class="card-panel bumper teal darken-4 card-radius">
    <div class="col s12 recipe-repo">
        <h3 class="center-align white-text">
            My Recipes
        </h3>
    </div>
</div>

<!-- Code to display each of the user in session generated recipes -->
<div class="row main-content">
    {% set user_recipes = [] %}
    {% for recipe in recipes|reverse %}
    {% if session.user|lower == recipe.recipe_submitted_by|lower %}
    {% set _ = user_recipes.append(recipe) %}
    <div class="col">
        <div class="card hoverable card-radius">
            <div class="card-image card-radius">
                <img src="{{ recipe.recipe_image }}">
                <span class="card-title text-shadow"><strong>{{ recipe.recipe_name }}</strong></span>
            </div>
            <div class="card-content">
                <p><strong>Created By:</strong> {{ recipe.recipe_submitted_by }}</p>
                <p><strong>Category:</strong> {{ recipe.recipe_category }}</p>
                <p><strong>Serves:</strong> {{ recipe.recipe_serves }}</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-teal blue accent-4 btn btn-radius left"
                    href="{{ url_for('view_recipe', recipe_repository_id=recipe._id) }}" title="View">
                    <i class="fa-solid fa-eye"></i>
                </a>
                <a class="waves-effect waves-teal red darken-4 btn btn-radius right"
                    href="{{ url_for('add_to_favorites', recipe_repository_id=recipe._id) }}" title="Add to Favorites">
                    <i class="fa-solid fa-heart"></i>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% if user_recipes|length == 0 %}
    <div class="row main-content">
        <div class="card-panel red darken-4 card-radius profile-header">
            <h3 class="center-align white-text">
                No Recipes Created
            </h3>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}