{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align teal-text text-darken-4">
                    Submit A Recipe
                </h3>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="recipe_name" name="recipe_name" type="text" class="form-label">
                                <label for="recipe_name">Recipe Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="submission_name" name="submission_name" type="text" class="form-label">
                                <label for="submission_name">Submitted By</label>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}