{% extends "base.html" %}
{% block content %}
    <div class="row bumper">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel teal darken-3 card-radius">
                <h3 class="center-align white-text submit-header">
                    Submit Recipe
                </h3>
            </div>
            <div class="card-panel card-radius">
                <div class="row">
                    <form class="col s12" method="POST" action="{{ url_for('submit_recipe') }}">
                        <!-- Recipe Name -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fa-solid fa-signature prefix teal-text text-lighten-1"></i>
                                <input id="recipe_name" name="recipe_name" type="text" 
                                    minlength="5" maxlength="100" class="form-label validate">
                                <label for="recipe_name">Recipe Name</label>
                            </div>
                        </div>
                        <!-- category selector -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fa-solid fa-list prefix teal-text text-lighten-1"></i>
                                <select class="form-select form-control validate" name="recipe_category" required>
                                    <option disabled selected></i> Select A Category</option>
                                    {% for category in categories %}
                                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="recipe_category">Category</label>
                            </div>
                        </div>
                        <!-- Serves input -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fa-solid fa-users prefix teal-text text-lighten-1"></i> 
                                <input id="recipe_serves" name="recipe_serves" type="text" 
                                    minlength="1" maxlength="100" class="form-label validate">
                                <label for="recipe_serves">Serves</label>
                            </div>
                        </div>
                        <!-- prep time input -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fa-solid fa-hourglass-start prefix teal-text text-lighten-1"></i>
                                <input id="recipe_prep_time" name="recipe_prep_time" type="text" 
                                    minlength="5" maxlength="100" class="form-label validate">
                                <label for="recipe_prep_time">Preparation Time</label>
                            </div>
                        </div>
                        <!-- cook time input -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fa-solid fa-hourglass-end prefix teal-text text-lighten-1"></i>
                                <input id="recipe_cook_time" name="recipe_cook_time" type="text" 
                                minlength="5" maxlength="50" class="form-label validate">
                                <label for="recipe_cook_time">Cook Time</label>
                            </div>
                        </div>
                        <!-- description input -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fa-solid fa-pencil prefix teal-text text-lighten-1"></i>
                                <textarea id="recipe_description" name="recipe_description" 
                                    minlength="5" maxlength="1000" class="form-label materialize-textarea validate"></textarea>
                                <label for="recipe_description">Description</label>
                            </div>
                        </div>
                        <!-- ingredient input -->
                        <div class="row">
                            <div class="col s12">
                                <div class="ingredientList">
                                    <div class="input-field ingredientDiv">
                                        <input id="recipe_ingredients" name="recipe_ingredients" type="text" 
                                            minlength="5" maxlength="500" class="form-label validate">
                                        <label for="recipe_ingredients"> Ingredients</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- add and remove ingredient button -->
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="waves-effect waves-light btn btn-radius green darken-4" id="addIngredientsBtn" title="Add Ingredient">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                                <button type="button" class="waves-effect waves-light btn btn-radius red darken-4" id="removeIngredientsBtn" title="Remove Ingredient">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- method input -->
                        <div class="row">
                            <div class="col s12">
                                <div class="methodList">                                    
                                    <div class="input-field methodDiv">
                                        <input id="recipe_method" name="recipe_method" type="text" 
                                            minlength="5" maxlength="500" class="form-label validate">
                                        <label for="recipe_method">Method</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- add and remove method button -->
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="waves-effect waves-light btn btn-radius green darken-4" id="addMethodBtn" title="Add Method Step">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                                <button type="button" class="waves-effect waves-light btn btn-radius red darken-4" id="removeMethodBtn" title="Remove Method Step">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- recipe image input -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fa-solid fa-image prefix teal-text text-lighten-1"></i>
                                <input id="recipe_image" name="recipe_image" type="text" class="form-label validate">
                                <label for="recipe_image">Recipe Image (URL)</label>
                            </div>
                        </div>
                        <!-- submit button -->
                        <div class="row">
                            <div class="col-12 center-align">
                                <button class="btn waves-effect waves-light text-shadow btn-radius green darken-4" type="submit" title="Submit">
                                    <i class="fa-regular fa-paper-plane"></i>
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}