{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <div class="row">
                        <!-- Recipe Name display -->
                        <div class="row">
                            <div class="col s12">
                                <h3>{{ recipe_id.recipe_name }}</h3>
                            </div>
                        </div>
                        <!-- recipe by display -->
                        <div class="row">
                            <div class="col s12">
                                <p><strong>Recipe By:</strong> {{ recipe_id.recipe_submitted_by }}</p>
                                <p><strong>Category:</strong> {{ recipe_id.recipe_category }}</p>
                                <p><strong>Serves:</strong> {{ recipe_id.recipe_serves }}</p>
                                <p><strong>Preparation Time:</strong> {{ recipe_id.recipe_prep_time }}</p>
                                <p><strong>Cook Time:</strong> {{ recipe_id.recipe_cook_time }}</p>
                            </div>
                        </div>
                        <!-- description display -->
                        <div class="row">
                            <div class="col s12">
                                <h5>Description:</h5>
                                <p>{{ recipe_id.recipe_description }}</p>
                            </div>
                        </div>
                        <!-- ingredient display -->
                        <div class="row">
                            <div class="col s12">
                                <h5>Ingredients:</h5>
                                <ol>
                                {% for ingredient in recipe_id.recipe_ingredients %}
                                    <li>{{ ingredient[0:] }}</li>
                                {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <!-- method display -->
                        <div class="row">
                            <div class="col s12">
                                <h5>Method:</h5>
                                <ol>
                                {% for method in recipe_id.recipe_method %}
                                    <li>{{ method[0:] }}</li>
                                {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <!-- Edit button -->
                        <div class="row">
                            <div class="col-12 center-align">
                                {% if session.user|lower == recipe_id.recipe_submitted_by|lower %}
                                    <a class="waves-effect waves-green darken-4 btn-flat" href="{{ url_for('edit_recipe', recipe_repository_id=recipe_id._id) }}">
                                        <i class="fa-regular fa-edit"></i> Edit</i>
                                    </a>
                                    <a class="waves-effect waves-red accent-4 btn-flat" href="{{ url_for('delete_recipe', recipe_repository_id=recipe_id._id) }}">
                                        <i class="fa-solid fa-trash"></i> Delete</i>
                                    </a>
                                {% endif %}
                            <a class="waves-effect waves-light-blue darken-4 btn-flat" href="{{ url_for('get_recipes') }}">
                                <i class="fa-solid fa-person-walking-arrow-loop-left"></i> Back</i>
                            </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}